<div class="jumbotron" ng-parallax pattern="game.bgUrl" speed="0">
	<div class="container">
		<span>
			<img class="engine-credit img-responsive center-block" ng-src="{{engineCredit(game.engine, game.engineColor)}}" alt="Made With {{game.engine}}"/><br/><br/>
			<h1><strong class="cover-text">{{game.title}}</strong> <small class="cover-text-sm">({{game.year}})</small></h1>
			<h4 ng-if="game.tagline.length"><em class="cover-text">"{{game.tagline}}"</em></h4>
			<br/>
			<h3>
				<span ng-repeat="platform in game.platforms"><span class="label cover-platform" ng-class="platformLabel(platform)" aria-label="{{platform}}">{{platform}} <i class="fa" aria-hidden="true" ng-class="platformIcon(platform)"></i></span> </span>
			</h3>
			
			<br/>
		</span>
		<span ng-repeat="aff in game.affiliations" ng-if="game.affiliations.length">
			<small class="cover-text-sm">{{aff}}<span ng-if="!$last">, </span></small>
		</span>
	</div>
</div>

<div class="container-fluid">
	<div class="row game-list-row">	
		<div class="col-xs-12 col-md-4 col-md-push-4">
			<div class="container-fluid">			
				<div class="row text-center">
					<div ng-class="{'col-xs-12 col-md-6': game.collaborators.length, 'col-xs-12': !game.collaborators.length}">
						<div class="container-fluid">
							<div class="row">
								<h3><strong>Roles: </strong></h3><span ng-repeat="role in game.roles"><span class="badge">{{role}}</span> </span>

							</div>
							<div class="row" ng-if="game.skills.programming">
								<h3><strong>Programming Skills: </strong></h3>
								<li ng-repeat="skill in game.skills.programming" style="list-style-type:none; display: inline;"> <span class="badge">{{skill}}</span></li>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-6" ng-if="game.collaborators.length">
						<p>
							<h3><strong>Collaborators:</strong></h3>
							<li ng-repeat="person in game.collaborators" style="list-style-type:none;">
								<span ng-if="!person.url.length">{{person.name}}</span>
								<a ng-if="person.url.length" target="_blank" ng-href="{{person.url}}" style="color: inherit;">
									{{person.name}} <i class="fa fa-external-link"></i></a><br/>
								<span ng-if="person.roles.length" ng-repeat="role in person.roles"><span class="badge">{{role}}</span> </span>
								<br/>
								<br/>
							</li>
						</p>
					</div>
				</div>


				<div class="row text-center">
					<div class="col-xs-12" ng-if="game.skills.software.length">
						<h3><strong>Software:</strong></h3>
						<li ng-repeat="software in game.skills.software" style="list-style-type:none; display: inline;"> <span class="badge">{{software}}</span></li>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row" ng-if="game.albumUrl.length">
		<hr/>
		<div class="col-xs-12">
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<h2 class="text-center"><strong>Description</strong></h2>
			<div class="game-description">
				<div ng-include="'games/descriptions/' + game.title + '.html'"></div>
			</div>
		</div>
	</div>
</div>