<div class="jumbotron game-cover">
	<div class="container">
		<p class="lead">
			<img class="engine-credit" ng-src="{{engineCredit(game.engine)}}" alt="Made With {{game.engine}}"><br><br>
			<h1>{{game.title}} <small>({{game.year}})</small></h1>
			<h3>
				<span ng-repeat="platform in game.platforms"><span class="label" ng-class="platformLabel(platform)" aria-label="{{platform}}">{{platform}} <i class="fa" aria-hidden="true" ng-class="platformIcon(platform)"></i></span> </span>
			</h3>
		</p>
	</div>
</div>

<div class="container">
	<div class="row">
		<h3><strong>Roles: </strong></h3><span ng-repeat="role in game.roles"><span class="badge">{{role}}</span> </span>
	</div>
	
	<div class="row" ng-if="game.collaborators.length">
		<p>
			<h3><strong>Collaborators:</strong></h3>
			<ul>
				<li ng-repeat="person in game.collaborators">
					<span ng-if="!person.url.length">{{person.name}}</span>
					<a ng-if="person.url.length" target="_blank" ng-href="{{person.url}}">
						{{person.name}} <i class="fa fa-external-link"></i>
					</a>
					<span ng-if="person.roles.length" ng-repeat="role in person.roles"><span class="badge">{{role}}</span> </span>
				</li>
			</ul>
		</p>
	</div>
	
	<div class="row">
		<h3><strong>Description</strong></h3>
		<p>{{game.description}}</p>
	</div>
</div>