<footer class="footer">
	<div class="row text-center">
		<div class="col-xs-12 col-xs-push-0 col-sm-4 col-sm-push-1 text-center">
			<a class="btn btn-social-icon btn-facebook"><span class="fa fa-facebook" target="_blank" href="http://www.facebook.com/BrentLOOM"></span></a>
			<a class="btn btn-social-icon btn-linkedin" target="_blank" href="http://www.linkedin.com/in/brentlopez"><span class="fa fa-linkedin"></span></a>
			<a class="btn btn-social-icon btn-twitter" target="_blank" href="http://www.twitter.com/melo_brent"><span class="fa fa-twitter"></span></a>
			<a class="btn btn-social-icon btn-github" target="_blank" href="http://www.github.com/BrentLOOM"><span class="fa fa-github"></span></a>
			<a class="btn btn-social-icon btn-google" target="_blank" href="mailto:brentshay.lopez@gmail.com"><span class="fa fa-envelope-o"></span></a>
		</div>

		<div class="col-xs-12 col-xs-push-0 col-sm-3 col-sm-push-4">
			<p class="dev-credit">by Brent Shay Lopez</p>
		</div>
	</div>
</footer>