<header class="jumbotron">
  <h1>Hello and Welcome!</h1>
  <p class="lead">
    <img src="images/thumbnail.jpg" class="img-circle" alt="I'm Brent"><br>
    I'm Brent and I make games!
  </p>
</header>

<div class="row marketing">
    <p align=center>This site is a work in progress. Please come back when it's ready!</p>
</div>

<!-- Gallery view for all projects -->
<div class="container-fluid">
	<div class="row row-content">
		<div class="col-xs-12 col-sm-6 col-md-3">
			<a href="#" class="thumbnail">
				<img class="img-responsive" src="images/stage/1.jpg" alt="Stage">
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3">
			<a href="#" class="thumbnail">
				<img class="img-responsive" src="images/stage/2.jpg" alt="Stage">
				<div class="caption">
					<p>Test caption.</p>
				</div>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3">
			<a href="#" class="thumbnail">
				<img class="img-responsive" src="images/stage/3.jpg" alt="Stage">
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3">
			<a href="#" class="thumbnail">
				<img class="img-responsive" src="images/stage/1.jpg" alt="Stage">
			</a>
		</div>
	</div>
</div>
