.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


.content-ui-view {
	padding-top: 50px;
	padding-bottom: 60px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
	margin-top: -50px;
    border-bottom: 0;
  }
	.jumbotron .container {
		margin-top: 50px;
	}

	.dev-credit {
		padding-top: 5px;
		padding-bottom: 10px;
	}
	
	/* Show the dropdown menu on hover */
	.dropdown:hover .dropdown-menu {
		display: block;
	}
	
	.content-ui-view {
		padding-top: 20px;
		padding-bottom: 60px;
	}
}

.engine-credit {
	max-height: 75px;
	width: auto;
	
}


.navbar-fixed-bottom {
	background-color: white;
}
.navbar-brand {
	display: inline-block;
}

.navbar-brand span>img {
	height:100%;
	width: auto;
}

.navbar-fixed-top {
	background: rgba(0,0,0,0.85);
}

.cover-text {
	text-shadow: 1px 1px rgba(200, 200, 200, 0.9);
}

.cover-text-sm {
	text-shadow: 1px 1px #DDD;
}

.cover-platform {
	box-shadow: 1px 1px rgba(200, 200, 200, 0.9);
}

.game-list-row {
	background-color: lightgrey;
	padding-bottom: 30px;
}


h1, h2, h3, h4, h5, h6, p, div, span, li {
	font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.game-description {
	font-size: 1.3em;
}

